{% extends "travel/base.html" %}
{% block content %}
{% verbatim %}
<body ng-app="TravelApp">
<div ng-controller="TravelController as travel">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <a href="/travel/index/#rides/">Utazas szervezo</a>
            </h2>
            <md-menu ng-show="travel.isLoggedIn()">
                <md-button ng-click="$mdOpenMenu($event)">
                    {{travel.me.travel_user.user.username}}
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="travel.showManageUserProfile()">
                            <span md-menu-align-target>Profil</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="travel.showAbout()">
                            <span md-menu-align-target>Nevjegy</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="travel.logout()">
                            <span md-menu-align-target>Kijelentkezes</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <div ng-hide="travel.isPageLoading()" ng-view></div>
    <md-progress-circular
            class="centered"
            ng-show="travel.isPageLoading()"
            md-mode="indeterminate">
    </md-progress-circular>

</div>

</body>
{% endverbatim %}
{% endblock %}