<div class="padded">
    <md-content layout-padding layout-gt-xs="row">
        <form name="userForm">

            <h4>
                <span>Felhasznaloi profil menedzsment</span>
                <md-button class="md-accent md-raised"
                           hide-xs flex
                           flex-offset="50"
                           ng-disabled="userForm.$invalid"
                           ng-click="vm.showUserProfileUpdateDialog($event)">
                    Modositas
                </md-button>
                <md-button class="md-accent md-raised"
                           hide-xs flex
                           ng-click="vm.showUserProfileDeleteDialog($event)">
                    Torles
                </md-button>
            </h4>

            <ng-include src="'/static/travel/templates/user_form_fields.html'"></ng-include>

            <md-button class="md-accent md-raised"
                       hide-gt-xs flex
                       ng-disabled="userForm.$invalid"
                       ng-click="vm.showUserProfileUpdateDialog($event)">
                Modositas
            </md-button>
            <md-button class="md-accent md-raised"
                       hide-gt-xs flex
                       ng-click="vm.showUserProfileDeleteDialog($event)">
                Torles
            </md-button>
        </form>
    </md-content>
</div>