<div ng-controller="ManageRideController as manager"
     class="padded">
    <md-content layout-padding layout-gt-xs="row">
        <form name="rideForm">

            <h4>
                <span>Jarmu menedzsment</span>
                <md-button class="md-accent md-raised"
                           hide-xs flex
                           ng-disabled="rideForm.$invalid"
                           flex-offset="50"
                           ng-click="manager.showDriverSaveDialog($event)">
                    Letrehozas/Modositas
                </md-button>
                <md-button ng-show="manager.isDriverExists()"
                           class="md-accent md-raised"
                           hide-xs flex
                           ng-click="manager.showDriverDeleteDialog($event)">
                    Torles
                </md-button>
            </h4>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Ferohelyek szama</label>
                <input required name="numOfSeats"
                       ng-model="manager.driver.model.num_of_seats"
                       required type="number"
                       pattern="^[0-9]*$"
                       min="{{manager.getMinNumOfSeats()}}"
                       max="9999">
                <div ng-messages="rideForm.numOfSeats.$error">
                    <div ng-message="required">
                        A mezo kitoltese kotelezo!
                    </div>
                    <div ng-message="pattern">
                        A mezobe csak egesz pozitiv szamokat lehet irni!
                    </div>
                    <div ng-message="min">
                        A minimalis helyek szama legalabb annyi kell legyen mint az utasaid szama({{manager.passengers.length}})
                        es tobbnek kell lennie nullanal!
                    </div>
                    <div ng-message="max">
                        9999 szabad hely felett at kell allitanod a jarmu tipusat hajora!
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Benzinpenz</label>
                <input required name="price"
                       ng-model="manager.driver.model.price"
                       required type="number"
                       pattern="^[0-9]*$"
                       min="0"
                       max="99999">
                <div ng-messages="rideForm.price.$error">
                    <div ng-message="required">A mezo kitoltese kotelezo!</div>
                    <div ng-message="pattern">A mezobe csak egesz pozitiv szamokat lehet irni!</div>
                    <div ng-message="min">A minimalis benzinkoltseg 0!</div>
                    <div ng-message="max">A maximalis benzinkoltseg 99999!</div>
                </div>
            </md-input-container>

            <div class="hint">Indulasi ido</div>
            <div moment-picker="manager.driver.model.start_time"
                 format="YYYY-MM-DDThh:mm">
                {{ manager.driver.model.start_time }}
            </div>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Indulasi/Erkezesi hely</label>
                <input required name="location"
                       ng-model="manager.driver.model.start_location"
                       pattern="^[a-zA-Z0-9 . : /]{5,100}$">
                <div class="hint">Budapest Futrinka utca 3/a</div>
                <div ng-messages="rideForm.location.$error">
                    <div ng-message="required">A mezo kitoltese kotelezo!</div>
                    <div ng-message="pattern">
                        A hely 5-20 karakter hosszu lehet csak
                        es csak kis/nagy betuket szamokat es . : /karaktereket tartalmazhatja!
                    </div>
                </div>
            </md-input-container>

            <div class="hint">
                <p> Az alabbi mezokbe az utasokat segito opcionalis informaciokat lehet megadni.</p>
                <p> Jo otlet lehet peldaul leirni a jarmu szinet, tipusat, azt hogy indulaskor hol fog parkolni...
                    stb.</p>
            </div>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Auto tipusa</label>
                <input name="name"
                       ng-model="manager.driver.model.name"
                       pattern="^\S{5,20}$">
                <div ng-messages="rideForm.name.$error">
                    <div ng-message="pattern">A jarmu tipusa 5-20 karakter hosszu lehet csak!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Leiras</label>
                 <textarea name="description"
                           ng-model="user.biography"
                           md-maxlength="200"
                           rows="5"
                           md-select-on-focus
                           pattern="^[a-zA-Z0-9 . : ]{0,200}$"></textarea>
                <div ng-messages="rideForm.description.$error">
                    <div ng-message="pattern">
                        A leiras 0-200 karakter hosszu lehet csak
                        es csak kis/nagy betuket szamokat es . : karaktereket tartalmazhatja!
                    </div>
                </div>
            </md-input-container>

            <md-button class="md-accent md-raised"
                       hide-gt-xs flex
                       ng-disabled="rideForm.$invalid"
                       ng-click="vm.showUserProfileSaveDialog($event)">
                Modositas
            </md-button>
            <md-button class="md-accent md-raised"
                       hide-gt-xs flex
                       ng-click="vm.showUserProfileDeleteDialog($event)">
                Torles
            </md-button>

        </form>
    </md-content>

    <div>
        <h5>Utaslista</h5>
        <div ng-hide="manager.passengers.length"> Meg nincsenek utasok</div>
        <div ng-show="manager.passengers.length">
            <div ng-repeat="passenger in manager.passengers">
                <md-checkbox ng-model="passenger.selected">
                    {{passenger.travel_user.user.last_name}} {{passenger.travel_user.user.first_name}}
                    ({{passenger.travel_user.user.username}})
                </md-checkbox>
                <ul>
                    <li>Telefon: {{passenger.travel_user.phone}}</li>
                    <li>Email: {{passenger.travel_user.user.email}}</li>
                </ul>
            </div>
            <md-button ng-show="manager.isDriverExists()"
                       class="md-primary md-raised"
                       ng-click="manager.showPassengerDeleteDialog($event)">
                Kivalasztott utasok torlese
            </md-button>
        </div>
    </div>

    <div>
        <h5>Email ertesitesek</h5>
        <md-switch ng-model="manager.driver.model.notify_when_passenger_joins" aria-label="Switch 1">
                    ha csatlakozik egy utas
    </div>
</div>