<!--TODO driver delete?-->
<div ng-controller="manageRideController as manager"
     class="padded">
    <h4>
        <span>Jarmu menedzsment</span>
        <md-button class="md-accent md-raised"
                   hide-xs flex
                   flex-offset="50"
                   ng-click="manager.showDriverSaveDialog($event)">
            Letrehozas/Modositas
        </md-button>
        <md-button ng-show="manager.isDriverExists()"
                   class="md-accent md-raised"
                   hide-xs flex
                   ng-click="manager.showDriverDeleteDialog($event)">
            Torles
        </md-button>
    </h4>
    <md-content layout-padding layout-gt-xs="row">
        <form name="rideForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Ferohelyek szama</label>
                <input required name="numOfSeats"
                       ng-model="manager.driver.model.num_of_seats"
                       required type="number"
                       min="1"
                       max="9999">
                <div ng-messages="rideForm.numOfSeats.$error">
                    <div ng-message="required">A mezo kitoltese kotelezo!</div>
                    <div ng-message="min">A minimalis helyek szama legalabb 1!</div>
                    <div ng-message="max">9999 szabad hely felett at kell allitanod a jarmu tipusat hajora!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Benzinpenz</label>
                <input required name="price"
                       ng-model="manager.driver.model.price"
                       required type="number"
                       min="0"
                       max="99999">
                <div ng-messages="rideForm.price.$error">
                    <div ng-message="required">A mezo kitoltese kotelezo!</div>
                    <div ng-message="min">A minimalis benzinkoltseg 0!</div>
                    <div ng-message="max">A maximalis benzinkoltseg 99999!</div>
                </div>
            </md-input-container>

            <timepicker-element datetime="manager.driver.model.start_time"></timepicker-element>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Indulasi/Erkezesi hely</label>
                <input required name="location"
                       ng-model="manager.driver.model.start_location"
                       pattern="^[a-zA-Z0-9 . : /]{5,20}$">
                <div class="hint">Budapest Futrinka utca 3/a</div>
                <div ng-messages="rideForm.location.$error">
                    <div ng-message="required">A mezo kitoltese kotelezo!</div>
                    <div ng-message="pattern">
                        A hely 5-20 karakter hosszu lehet csak
                        es csak kis/nagy betuket szamokat es . : /karaktereket tartalmazhatja!
                    </div>
                </div>
            </md-input-container>

            <div class="hint">
                <p> Az alabbi mezokbe az utasokat segito opcionalis informaciokat lehet megadni.</p>
                <p> Jo otlet lehet peldaul leirni a jarmu szinet, tipusat, azt hogy indulaskor hol fog parkolni...
                    stb.</p>
            </div>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Auto tipusa</label>
                <input name="name"
                       ng-model="manager.driver.model.name"
                       pattern="^\S{5,20}$">
                <div ng-messages="rideForm.name.$error">
                    <div ng-message="pattern">A jarmu tipusa 5-20 karakter hosszu lehet csak!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-xs>
                <label>Leiras</label>
                 <textarea name="description"
                           ng-model="user.biography"
                           md-maxlength="200"
                           rows="5"
                           md-select-on-focus
                           pattern="^[a-zA-Z0-9 . : ]{0,200}$"></textarea>
                <div ng-messages="rideForm.description.$error">
                    <div ng-message="pattern">
                        A leiras 0-200 karakter hosszu lehet csak
                        es csak kis/nagy betuket szamokat es . : karaktereket tartalmazhatja!
                    </div>
                </div>
            </md-input-container>
        </form>
        <md-button class="md-accent md-raised"
                   hide-gt-xs flex
                   ng-click="manager.showDriverSaveDialog($event)">
            Letrehozas/Modositas
        </md-button>
        <md-button ng-show="manager.driver.pk"
                   class="md-accent md-raised"
                   hide-gt-xs flex
                   ng-click="manager.showDriverDeleteDialog($event)">
            Torles
        </md-button>
    </md-content>

    <div>
        <h5>Utaslista</h5>
        <div ng-hide="manager.passengers.length"> Meg nincsenek utasok</div>
        <div ng-show="manager.passengers.length">
            <div ng-repeat="passenger in manager.passengers">
                <md-checkbox ng-model="passenger.selected">
                    {{passenger.travel_user.user.last_name}} {{passenger.travel_user.user.first_name}}
                    ({{passenger.travel_user.user.username}})
                </md-checkbox>
            </div>
            <md-button ng-show="manager.isDriverExists()"
                       class="md-primary md-raised"
                       ng-click="manager.showPassengerDeleteDialog($event)">
                Kivalasztott utasok torlese
            </md-button>
        </div>
    </div>
</div>