<div ng-controller="RidesController as rides">

    <md-tabs md-stretch-tabs="always" md-dynamic-height=true hide-gt-xs flex>
        <md-tab label="Oda">
            <md-tab-body>
                <div layout="column">
                    <travel-element direction="'there'"></travel-element>
                    <md-input-container>
                        <label>Kereses</label>
                        <input ng-model="vm.searchThere">
                    </md-input-container>
                    <div ng-repeat="ride in rides.there | filter:vm.searchThere">
                        <ride-element ride="ride"></ride-element>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <md-tab label="Vissza">
            <md-tab-body>
                <div layout="column">
                    <travel-element direction="'back'"></travel-element>
                    <md-input-container>
                        <label>Kereses</label>
                        <input ng-model="vm.searchBack">
                    </md-input-container>
                    <div ng-repeat="ride in rides.back | filter:vm.searchBack">
                        <ride-element ride="ride"></ride-element>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <div hide-xs flex>
        <div layout="row">
            <div flex="50">
                <travel-element direction="'there'"></travel-element>
            </div>

            <div flex="50">
                <travel-element direction="'back'"></travel-element>
            </div>
        </div>

        <div layout="row">
            <div flex="50" style="margin-left=10%;margin-right=10%">
                <h2 class="md-display-1" style="text-align: center">Odaut</h2>
                <md-input-container>
                    <label>Kereses</label>
                    <input ng-model="vm.searchThere">
                </md-input-container>
                <div ng-repeat="ride in rides.there | filter:vm.searchThere">
                    <ride-element ride="ride"></ride-element>
                </div>
            </div>

            <div flex="50" style="margin-left=10%;margin-right=10%">
                <h2 class="md-display-1" style="text-align: center">Visszaut</h2>
                <md-input-container>
                    <label>Kereses</label>
                    <input ng-model="vm.searchBack">
                </md-input-container>
                <div ng-repeat="ride in rides.back | filter:vm.searchBack">
                    <ride-element ride="ride"></ride-element>
                </div>
            </div>
        </div>
    </div>

</div>