<div ng-controller="RideDetailsController as details"
    class="padded">
    <h4>
        <span>{{details.ride.driver.user.last_name}} {{details.ride.driver.user.first_name}} autoja</span>
    </h4>
    <h5>Reszletek</h5>
    <span>Sofor elerhetosegei:</span>
    <ul>
        <li>Telefon: {{details.ride.driver.phone}}</li>
        <li>Email: {{details.ride.driver.user.email}}</li>
    </ul>
    <span>Szabad helyek/Osszes hely: {{details.ride.num_of_free_seats}} / {{details.ride.num_of_seats}} </span> <br/>
    <span>Indulas ideje: {{details.ride.start_time}} </span><br/>
    <span>Honnan: {{details.ride.start_location}} </span><br/>
    <span>Beugro: {{details.ride.price}} </span><br/>
    <span>Auto: {{details.ride.price}} </span><br/>
    <span>Egyeb: {{details.ride.details}} </span><br/>
    <h5>Utaslista</h5>
    <div ng-hide="details.passengers.length"> Meg nincsenek utasok</div>
    <ul class=" mdl-list" ng-repeat="passenger in details.passengers">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              {{passenger.travel_user.user.last_name}} {{passenger.travel_user.user.first_name}}
                 ({{passenger.travel_user.user.username}})
            </span>
        </li>
    </ul>
</div>