<div layout="row" ng-controller="ridesController">
    <div flex="50" style="margin-left=10%;margin-right=10%">
        <h2 class="md-display-1" style="text-align: center">Odaut</h2>
        <div ng-repeat="ride in rides_there" ng-include src="'/static/travel/templates/ride_element.html'"></div>
    </div>

    <div flex="50" style="margin-left=10%;margin-right=10%">
        <h2 class="md-display-1" style="text-align: center">Visszaut</h2>
        <div ng-repeat="ride in rides_back" ng-include src="'/static/travel/templates/ride_element.html'"></div>
    </div>
</div>