<div>
    <form name="timepickerForm">
        <div layout-gt-sm="row">

            <label>Datum</label>
            <md-datepicker ng-model="timepicker.date" md-placeholder="Add meg az indulas datumat!"></md-datepicker>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Ora</label>
                <md-select ng-model="timepicker.time.hour">
                    <md-option ng-repeat="hour in vm.time.getHours()" value="{{hour}}">
                        {{hour}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Perc</label>
                <md-select ng-model="timepicker.time.min">
                    <md-option ng-repeat="min in vm.time.getMinutes()" value="{{min}}">
                        {{min}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

    </form>
</div>