<div ng-hide="element.object.model == null">
    <md-card class="travel-element">
        <md-card-title layout="row">
            <md-card-title-text>
            <span class="md-headline">
                Sofor: {{element.ride.driver.user.last_name}} {{element.ride.driver.user.first_name}}
            </span>
            </md-card-title-text>
            <md-button class="md-accent md-raised ride-card-button"
                       ng-click="element.remove($event)">
                Torles
            </md-button>
            <md-button class="md-accent md-raised ride-card-button"
                       ng-click="element.modify($event)">
                Modositas
            </md-button>
        </md-card-title>
        <md-card-content>
            <p>Szabad helyek: {{element.ride.num_of_free_seats}}</p>
            <p>Indulas ideje: {{element.ride.start_time}}</p>
            <p>Indulas helye: {{element.ride.start_location}} </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-primary" ng-href="/travel/index/#/rides/{{element.ride.pk}}">
                Reszletek es utaslista
            </md-button>
        </md-card-actions>
    </md-card>
</div>

<div ng-show="element.object.model == null"
     layout="row" layout-align="center">
        <md-button class="md-primary"
        ng-href="/travel/index/#/manage/ride/{{direction}}">
        Jarmu regisztralasa
        </md-button>
</div>