<md-input-container class="md-block" flex-gt-xs>
    <label>Felhasznalo nev</label>
    <input required name="username"
           ng-model="vm.travel_user.user.username"
           pattern="^\S{5,30}$">
    <div class="hint">Ezt a nevet hasznalod bejelentkezeshez</div>
    <div ng-messages="userForm.username.$error">
        <div ng-message="pattern">
            A felhasznalo neved legalabb 5 es maximum 30 karakter hosszu lehet
            es nem tartalmazhat specialis karaktereket!
        </div>
    </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>Jelszo</label>
    <input required name="password"
           type="password"
           ng-model="vm.travel_user.user.password"
           pattern="^\S{8,20}$">
    <div ng-messages="userForm.password.$error">
        <div ng-message="pattern">
            A jelszavad legalabb 8 es maximum 20 karakter hosszu lehet
            es tartalmaznia kell kis es nagybetuket, illetve szamot!
        </div>
    </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>Jelszo megegyszer</label>
    <input required name="password_again"
           type="password"
           pattern="^{{vm.travel_user.user.password}}$">
    <div ng-messages="userForm.password_again.$error">
        <div ng-message="pattern">
            A jelszavad nem egyezik az elobb megadottal!
        </div>
    </div>
</md-input-container>

<div layout-gt-sm="row">

    <md-input-container class="md-block" flex-gt-xs>
        <label>Vezeteknev</label>
        <input required name="lastname"
               ng-model="vm.travel_user.user.last_name"
               pattern="^\S{1,30}$">
        <div ng-messages="userForm.lastname.$error">
            <div ng-message="pattern">
                A vezetekneved legalabb 1 es maximum 30 karakter hosszu lehet
                es nem tartalmazhat specialis karaktereket!
            </div>
        </div>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-xs>
        <label>Keresztnev</label>
        <input required name="surname"
               ng-model="vm.travel_user.user.first_name"
               pattern="/^.+@.+\..+$/">
        <div ng-messages="userForm.surname.$error">
            <div ng-message="pattern">
                A keresztneved legalabb 1 es maximum 30 karakter hosszu lehet
                es nem tartalmazhat specialis karaktereket!
            </div>
        </div>
    </md-input-container>

</div>

<div class="warning">
    <strong>Figyelem!</strong>
    Az email ertesites szolgaltatas nem megbizhato,
    nem helyettesiti a soforrel/utasaiddal valo kapcsolatfelvetelt!
</div>

<md-input-container class="md-block" flex-gt-xs>
    <label>Email</label>
    <input required name="email"
           ng-model="vm.travel_user.user.email"
           pattern="^\S{1,40}$">
    <div class="hint">
        Ide fog erekezni a regisztralas soran a megerosito email.
        Ezen kivul azert van ra szukseg, hogy a soforod/utasaid kapcsolatba tudjanak lepni veled,
        illetve amennyiben beallitod az alkalmazas erre a cimre fogja az ertesiteseket kuldeni.
    </div>
    <div ng-messages="userForm.email.$error">
        <div ng-message="pattern">
            A keresztneved legalabb 1 es maximum 40 karakter hosszu lehet
            es nem tartalmazhat specialis karaktereket!
        </div>
    </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>Telefonszam</label>
    <input required name="userPhone"
           ng-model="vm.travel_user.phone"
           ng-bind="vm.travel_user.phone"
           pattern="^[0-9]{2} [0-9]{3}-[0-9]{4}$">
    <div class="hint">
        Formatum: 90 123-4567. Azert van ra szukseg, hogy a soforod/utasaid kapcsolatba
        tudjanak lepni veled.
    </div>
    <div ng-messages="userForm.userPhone.$error">
        <div ng-message="required">A mezo kitoltese kotelezo!</div>
        <div ng-message="pattern">
            A telefonszam NN NNN-NNNN formatumu kell hogy legyen!
            (pl: 90 123-4567)
        </div>
    </div>
</md-input-container>