.main-text{
    margin-left: 10%
}

.location-img{
    display: flex;
    justify-content: center;
}

.intro{
    text-align: center
}

.strokeme {
    color: black;
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}