.hint {
    /* Position the hint */

    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }

.padded {
    padding-left: 10%
}

.ride-card-button {
    max-height: 5%
}

.travel-element {
    background-color: '#9FA8DA';
}