<html>
<head>
    {% load i18n %}
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "travel/css/travel.css" %}'>
</head>
<body class="login-body">
<div class="centered">
    <h3>Udv!</h3>
    <p>Kerlek jelentkezz be, vagy regisztralj!</p>

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="login-error">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}

    <div id="content-main">

        {% if user.is_authenticated %}
        <p class="login-error">
            {% blocktrans with username=request.user.username trimmed %}
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
            {% endblocktrans %}
        </p>
        {% endif %}

        <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
            <div class="login-row">
                <div class="login-error">{{ form.username.errors }}</div>
                <div class="login-row">{{ form.username.label_tag }}</div>
                <div class="login-row">{{ form.username }}</div>
            </div>
            <div>
                <div class="login-error">{{ form.password.errors }}</div>
                <div class="login-row">{{ form.password.label_tag }}</div>
                <div class="login-row">{{ form.password }}</div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
            {% url 'admin_password_reset' as password_reset_url %}
            {% if password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
            </div>
            {% endif %}
            <div class="submit-row">
                <label>&nbsp;</label><input class="login-button" type="submit" value="{% trans 'Log in' %}"/>
            </div>
        </form>

        <div>
            <div>
                <a href="/travel/register/">Regisztracio</a>
            </div>
            <div>
                <a href="/">Vissza az informaciok oldalra</a>
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</html>