<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body>

<form action="{% url 'login' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <label> {{ field.label }}</label>
        {% if field.errors %}
        <div> {{ field.errors }}</div>
    </div>
    {% endif %}
    {{ field }}
    </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <input class="btn-lg btn-block" type="submit" value="Submit"/>
</form>

</body>
</html>